input{
    width: 100%;
    color:#000c63
}
.simulate_link{
    color: #040471;
}
.simulate_link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.grey_color{
    color: rgb(193, 192, 255);
}
.suggestions-list{
    color: rgb(52, 52, 52);
}
.grey_color:hover, .suggestion_item:hover{
    cursor: pointer;
    color: white;
    background-color: #000c63;
}
.date_time_class{
    text-align: center;
    color: rgb(102, 94, 196);
    font-size: 4rem;
}
.topbar {
    height: 2.0rem;
}
.suzdal_none{
    display: none;
}